{% load bootstrap4 %}
{% load staticfiles %}


<div class="container">
  <h2 class="text-center col-m4 logo">
    {{form_name}}
  </h2>
  <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <form action="" method="post" class='form'>
          {% csrf_token %}
          {% bootstrap_form abc_var_form layout='inline' %}
          {% buttons %}
              <button type="submit" class="btn btn-primary btn-custom">
              {{button_name}}
              </button>
          {% endbuttons %}
        </form>

      </<div>
  </div>
</div>
