{% extends 'base.html' %}


{% block bootstrap4_content %}

<div class="container">
  <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Истории животных</a>
  </h1>
  <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quod, soluta veritatis error amet repellendus, dolore iusto eum id eligendi officiis earum nemo ea consectetur neque similique quisquam, iste! Nobis.
      </<div>
  </div>

</div>


{% endblock %}
